[submodule "2ºSemestre/ICM/Projetos/Projeto2-ICM"]
	path = 2ºSemestre/ICM/Projetos/Projeto2-ICM
	url = https://github.com/falcaodiogo/Projeto2-ICM.git
[submodule "2ºSemestre/ICM/Projetos/Projeto1-ICM"]
	path = 2ºSemestre/ICM/Projetos/Projeto1-ICM
	url = https://github.com/falcaodiogo/Projeto1-ICM.git
